@import './variables.scss';

.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-image: linear-gradient($primary, $secondary);

  .container {
    margin: 4rem 10rem 2rem 10rem;

    .mainSection {
      margin: 8rem 13rem;
    }

    @media (max-width: 1312px) {
      .mainSection {
          margin: 4rem 2rem !important;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;

      .banner {
        margin: 2rem auto 0 0;

        .titlePrimer {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }

        .name {
          font-size: 4rem;
          background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }

        .tagline {
          color: $secondary-text;
          margin-bottom: 4rem;
        }

        .positionTitle {
          font-size: 2rem;
          width: fit-content;
          margin: 0 auto;
        }

        .resumeContainer { 
          width: fit-content;
          margin: 1rem auto;

          .resumeDownload {
            display: block;
            padding: 1.3rem;
            border: 1px solid $secondary-text;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    text-align: center;

    .container {
        margin: 2rem 5rem;

        .titlePrimer {
            font-size: 1rem;
        }

        .name {
            font-size: 2rem;
        }

        .tagline {
            font-size: 1.5rem;
        }

        .positionTitle {
            font-size: 1rem;
        }
    }
    @media (max-width: 425px) {
      .container {
        margin: 2rem 1rem;
      }
    }
  }
}