@import '../../variables.scss';

.container {
    .cardImg {
        width: 70%;
        border-radius: 25px;
        transition: border-color $transitionTime, transform $transitionTime;
    }

    img:hover, img:focus {
        border: px solid $highlight;
        transform: scale(1.07);
    }
}

.profilePicContainer {
    margin: 0 auto;
}