@import '../../variables.scss';

.container {
    // max-width: 50%;

    .contentContainer {
        .bolden {
            font-weight: bold;
            margin: 1.5rem 0 1.5rem;
        }
    }

    form {
        .inputContainer {
            display: flex;
            flex-flow: column;

            h4 {
                font-size: 1.2rem;

                .requiredInput {
                    color: $requiredInput;
                }
            }
    
            .textInput{
                height: 2rem;
                width: 50%;
                font-size: 1.4rem;
                padding: 0.2rem;
                background: linear-gradient(to top, $secondary, $highlight);
                border: solid 1px $primary;
            }

            @media (max-width: 768px) {
                .textInput {
                    width: 100%;
                }        
            }

            .messageArea {
                height: 7rem;
            }
        }
        
        .btn {
            margin-top: 1rem;
            font-size: 1.3rem;
        }
    }   
}